<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Charts - SB Admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        
        <!--글씨체-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
        <!--애니메이션모듈-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark animated fadeInDown delay-2s">
            <!-- Navbar Brand-->
            <a class="ps-3 name" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="코시국에 어디를 가나" width="180" height="60"></a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <button onclick="location.href='/subway';" class="btn btn-sm" id="sidebarToggle"><img src="{{ url_for('static', filename='img/subway_icon.png') }}" alt="bus icon" width="25" height="22"><a class="vehicle seeing">지하철</a></button>
            <button onclick="location.href='/bus';" class="btn btn-sm" id="sidebarToggle"><img src="{{ url_for('static', filename='img/bus_icon.png') }}" alt="bus icon" width="25" height="22"><a class="vehicle">버스</a></button>
        </nav>
        <div id="layoutSidenav", style="background-color:#F3EBF3">
            <div  id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark animated fadeInLeft delay-3s" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link first clicked" id="first">
                                일별 이용량
                            </a>

                            <a class="nav-link first-1" id="first-1">
                                고정유동인구
                            </a>

                            <a class="nav-link second" id="second">
                                확진자&승차량
                            </a>
                            <a class="nav-link third" id="third">
                                노선별 변화율
                            </a>
                            <a class="nav-link fourth" id="fourth">
                                역별 코로나 영향력
                            </a>
                            <a class="nav-link fifth " id="fifth">
                                언제 나갈까?
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="main container" >
                        <section class="first active" >
                            <span>
                            <!--일별 이용량 그래프-->
                        
                                    <iframe src="https://public.tableau.com/views/project_slide_1recentbright1/1_1?:showVizHome=no&:embed=true" width="76%" height="700px" style="margin:30px 0px 0px 30px;" frameborder="0"></iframe>
                                    <span class="first info animated fadeInRight delay-1s"><img src="{{ url_for('static', filename='img/slide_1.png') }}" alt="슬라이드1이미지" width="100%"></span>
                            </span>
                        
                        </section>

                        <section class="first-1">
                            <span>      
                        <!--고정 유동인구 그래프-->
                                    
                                    <iframe src="https://public.tableau.com/views/-_16377318822070/1_1?:showVizHome=no&:embed=true" width="76%" height="700px" style="margin:30px 0px 0px 30px;" frameborder="0"></iframe>
                                    <span class="first-1 animated fadeInRight delay-1s"><img src="{{ url_for('static', filename='img/slide_1_1.png') }}" alt="슬라이드1-1이미지" width="100%"></span>
                            </span>
                        </section>

                        <section class="second">
                            <span>
                                
                        <!--확진자&승차량 그래프-->
                                    <iframe src="https://public.tableau.com/shared/KHZQHCGFM?1?:showVizHome=no&:embed=true" width="76%" height="700px" style="margin:30px 0px 0px 30px;" frameborder="0"></iframe>
                                    <span class="second animated fadeInRight delay-1s"><img src="{{ url_for('static', filename='img/slide_2.png') }}" alt="슬라이드2이미지" width="100%"></span>
                            </span>
                        </section>
                        <section class="third">
                            <span>
                                
                        <!--노선별 변화차이 그래프-->
                                    <iframe src="https://public.tableau.com/views/_16383319614120/1_1?:showVizHome=no&:embed=true" width="90%" height="700px" style="margin:30px 0px 0px 30px;" frameborder="0"></iframe>
                            </span>
                            <div style="margin: 0 0 0 30px; font-size: small;">
                                <p>변화율: 코로나 국내최초 확진자발생 이전 651일, 이후 651일 기준</p>
                            </div>
                        </section>
                                </span>
                        </section>
                        <section class="fourth">
                            <span>
                                
                        <!--역별 코로나 영향력 그래프-->
                                <iframe src="https://public.tableau.com/views/4_16375655339720/1_1?:showVizHome=no&:embed=true" width="90%" height="700px" style="margin:30px 0px 0px 30px;" frameborder="0"></iframe>
                            </span>
                            <div style="margin: 0 0 0 30px; font-size: small;">
                                <span>변화율: 코로나 국내최초 확진자발생 이전 620일, 이후 620일 기준</span>
                                <span>&nbsp;&nbsp;*해당기간 내에 집계되지 않은 역들은 해당 그래프에서 제외시켰다.</span>
                            </div>
                        </section>
                        <section class="fifth">
                            <span>
                                <div style="margin:30px 0px 0px 30px;"><h1 class="mt-4 js-clock" id="clock">00:00</h1></div>
                                
                                    
                                <!--언제 나갈까?-->
                                <iframe src="https://public.tableau.com/views/6_16372981661790/1?:showVizHome=no&:embed=true" width="90%" height="530px" style="margin:0px 0px 0px 30px;" frameborder="0"></iframe>
                            </span>
                            <div style="margin: 0 0 0 30px; font-size: small;">
                            <pre>특이사항
(1) 1-8호선 데이터만 존재
(2) 데이터에는 없고 좌표에는 있는 역
3호선(일산선) : 대곡, 대화, 마두, 백석, 삼송, 원당, 정발산, 주엽, 화정
4호선(과천선) : 경마공원, 과천, 범계, 선바위, 인덕원, 정부과천청사, 평촌
4호선(안산선) : 고잔, 금정,  대야미, 산본, 상록수, 수리산, 신길온천, 안산, 오이도, 정왕,  중앙, 초지, 한대앞
(3) 1호선은 동대문, 동묘앞, 서울역, 시청, 신설동, 제기동, 종각, 종로3가, 종로5가, 청량리역만 존재함.(총 10개)
(4) 3호선 연신내역 : 6호선 개찰구가 따로없어서 3호선 개찰구로 통합!</pre>
                            </div>
                        </section>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div style="background-color:#F3EBF3">
                            <p>*데이터 출처: <a class="datalink" href="https://data.seoul.go.kr/dataList/OA-12921/F/1/datasetView.do">2008~2020 서울교통공사 연도별 일별 시간대별 역별 승하차 인원</a></p>
                            <p><a href=" https://data.seoul.go.kr/dataList/OA-20461/S/1/datasetView.do">서울특별시 코로나19 확진자 발생동향</a></p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sidetab.js') }}"></script>
        <script src="{{ url_for('static', filename='js/clock.js') }}"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    </body>
</html>